## 패키지 참조

In [1]:
from pandas import DataFrame,read_csv,read_excel,merge,melt,pivot_table,concat
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sb
import sys

### 여가생활,그린지수 대상 최적의 군집 결과(양의지수) 교집합

In [2]:
kmeans1=read_excel('./교집합결과/여가생활,그린지수voting1.xlsx')
dbscan1=read_excel('./교집합결과/여가생활,그린지수voting2.xlsx')
hery1=read_excel('./교집합결과/여가생활,그린지수voting3.xlsx')

#### concat 메서드 활용하여 데이터프레임끼리 묶어줌

In [3]:
tmp=concat([kmeans1,dbscan1],ignore_index=True)
tmp.head()

,Unnamed: 0,읍면동명,그린지수minmax,여가생활지수minmax,사회적약자_지원_인프라_밀집도minmax,접근성지수minmax,cluster_id
0,0,반포본동,0.603899,1.000000,0.992845,0.273210,2
1,1,면목제4동,0.949815,0.004376,0.033877,0.028933,5
2,2,중계제4동,1.000000,0.009503,0.071953,0.033002,5
3,3,상계제1동,0.874020,0.016684,0.477411,0.181578,5
4,4,양재제1동,0.766479,0.080960,0.366162,0.342199,5

In [4]:
tmp1=concat([tmp,hery1],ignore_index=True)
tmp1.head()

,Unnamed: 0,읍면동명,그린지수minmax,여가생활지수minmax,사회적약자_지원_인프라_밀집도minmax,접근성지수minmax,cluster_id,labels
0,0,반포본동,0.603899,1.000000,0.992845,0.273210,2.0,NaN
1,1,면목제4동,0.949815,0.004376,0.033877,0.028933,5.0,NaN
2,2,중계제4동,1.000000,0.009503,0.071953,0.033002,5.0,NaN
3,3,상계제1동,0.874020,0.016684,0.477411,0.181578,5.0,NaN
4,4,양재제1동,0.766479,0.080960,0.366162,0.342199,5.0,NaN

#### 3개 군집 결과를 묶은 후 읍면동명으로 count하여 중복 선정(교집합)된 곳이 시범사업지 후보 대상

In [5]:
tmp2=DataFrame(tmp1['읍면동명'].value_counts())
tmp2.to_excel('./교집합결과/여가생활,그린지수 보팅결과.xlsx')
tmp1['읍면동명'].value_counts().head(10)

읍면동명
반포본동           3
면목제4동          3
중계제4동          3
상계제1동          3
양재제1동          2
오륜동            2
청운효자동          1
삼청동            1
평창동            1
종로1.2.3.4가동    1
Name: count, dtype: int64

### 사회적약자,그린지수 대상 최적의 군집 결과(양의지수) 교집합

In [6]:
kmeans2=read_excel('./교집합결과/사회적약자,그린지수voting1.xlsx')
dbscan2=read_excel('./교집합결과/사회적약자,그린지수voting2.xlsx')
hery2=read_excel('./교집합결과/사회적약자,그린지수voting3.xlsx')

#### concat 메서드 활용하여 데이터프레임끼리 묶어줌

In [7]:
tmp3=concat([kmeans2,dbscan2],ignore_index=True)
tmp3.head()

,Unnamed: 0,읍면동명,그린지수minmax,여가생활지수minmax,사회적약자_지원_인프라_밀집도minmax,접근성지수minmax,cluster_id
0,4,평창동,0.602861,0.107249,0.658702,0.560716,2
1,162,상계제1동,0.874020,0.016684,0.477411,0.181578,2
2,213,상암동,0.726448,0.072779,1.000000,0.689607,2
3,243,가양제1동,0.645265,0.020125,0.553051,0.483549,2
4,275,여의동,0.614035,0.071520,0.925674,1.000000,2

In [8]:
tmp4=concat([tmp3,hery2],ignore_index=True)
tmp4.head()

,Unnamed: 0,읍면동명,그린지수minmax,여가생활지수minmax,사회적약자_지원_인프라_밀집도minmax,접근성지수minmax,cluster_id,labels
0,4,평창동,0.602861,0.107249,0.658702,0.560716,2.0,NaN
1,162,상계제1동,0.874020,0.016684,0.477411,0.181578,2.0,NaN
2,213,상암동,0.726448,0.072779,1.000000,0.689607,2.0,NaN
3,243,가양제1동,0.645265,0.020125,0.553051,0.483549,2.0,NaN
4,275,여의동,0.614035,0.071520,0.925674,1.000000,2.0,NaN

#### 3개 군집 결과를 묶은 후 읍면동명으로 count하여 중복 선정(교집합)된 곳이 시범사업지 후보 대상

In [9]:
tmp5=DataFrame(tmp4['읍면동명'].value_counts())
tmp5.to_excel('./교집합결과/사회적약자,그린지수 보팅결과.xlsx')
tmp4['읍면동명'].value_counts().head(10)

읍면동명
평창동      3
상암동      3
가양제1동    3
여의동      3
반포본동     3
세곡동      3
둔촌제1동    3
상계제1동    3
양재제1동    2
신사동      1
Name: count, dtype: int64

### 접근성,그린지수 대상 최적의 군집 결과(양의지수) 교집합

In [10]:
kmeans3=read_excel('./교집합결과/접근성지수,그린지수voting1.xlsx')
dbscan3=read_excel('./교집합결과/접근성지수,그린지수voting2.xlsx')
hery3=read_excel('./교집합결과/접근성지수,그린지수voting3.xlsx')

#### concat 메서드 활용하여 데이터프레임끼리 묶어줌

In [11]:
tmp6=concat([kmeans3,dbscan3],ignore_index=True)
tmp6.head()

,Unnamed: 0,읍면동명,그린지수minmax,여가생활지수minmax,사회적약자_지원_인프라_밀집도minmax,접근성지수minmax,cluster_id
0,0,삼청동,0.602143,0.182711,0.118277,0.233276,0
1,1,평창동,0.602861,0.107249,0.658702,0.560716,0
2,2,한강로동,0.603270,0.096164,0.154034,0.417533,0
3,3,한남동,0.602143,0.021840,0.161413,0.236909,0
4,4,상계제1동,0.874020,0.016684,0.477411,0.181578,0

In [12]:
tmp7=concat([tmp6,hery3],ignore_index=True)
tmp7.head()

,Unnamed: 0,읍면동명,그린지수minmax,여가생활지수minmax,사회적약자_지원_인프라_밀집도minmax,접근성지수minmax,cluster_id,labels
0,0,삼청동,0.602143,0.182711,0.118277,0.233276,0.0,NaN
1,1,평창동,0.602861,0.107249,0.658702,0.560716,0.0,NaN
2,2,한강로동,0.603270,0.096164,0.154034,0.417533,0.0,NaN
3,3,한남동,0.602143,0.021840,0.161413,0.236909,0.0,NaN
4,4,상계제1동,0.874020,0.016684,0.477411,0.181578,0.0,NaN

#### 3개 군집 결과를 묶은 후 읍면동명으로 count하여 중복 선정(교집합)된 곳이 시범사업지 후보 대상

In [13]:
tmp8=DataFrame(tmp7['읍면동명'].value_counts())
tmp8.to_excel('./교집합결과/접근성지수,그린지수 보팅결과.xlsx')
tmp7['읍면동명'].value_counts().head(10)

읍면동명
세곡동      3
가양제1동    3
여의동      3
평창동      3
양재제1동    3
반포본동     3
상암동      3
상계제1동    3
가산동      2
삼성제1동    2
Name: count, dtype: int64

### 여가생활지수,사회적약자 대상 최적의 군집 결과(양의지수) 교집합

> 해당 군집의 경우 극단적 쏠림 현상 발생. 여기서는 사회적 약자지수를 우선순위로 선정하였음

In [14]:
kmeans4=read_excel('./교집합결과/여가생활,사회적약자voting1.xlsx')
dbscan4=read_excel('./교집합결과/여가생활,사회적약자voting2.xlsx')
hery4=read_excel('./교집합결과/여가생활,사회적약자voting3.xlsx')

#### concat 메서드 활용하여 데이터프레임끼리 묶어줌

In [15]:
tmp9=concat([kmeans4,dbscan4],ignore_index=True)
tmp9.head()

,Unnamed: 0,읍면동명,그린지수minmax,여가생활지수minmax,사회적약자_지원_인프라_밀집도minmax,접근성지수minmax,cluster_id
0,0,반포본동,0.603899,1.000000,0.992845,0.273210,3
1,1,평창동,0.602861,0.107249,0.658702,0.560716,2
2,2,상암동,0.726448,0.072779,1.000000,0.689607,2
3,3,여의동,0.614035,0.071520,0.925674,1.000000,2
4,4,둔촌제1동,0.421500,0.000000,0.708442,0.000000,2

In [16]:
tmp10=concat([tmp9,hery4],ignore_index=True)
tmp10.head()

,Unnamed: 0,읍면동명,그린지수minmax,여가생활지수minmax,사회적약자_지원_인프라_밀집도minmax,접근성지수minmax,cluster_id,labels
0,0,반포본동,0.603899,1.000000,0.992845,0.273210,3.0,NaN
1,1,평창동,0.602861,0.107249,0.658702,0.560716,2.0,NaN
2,2,상암동,0.726448,0.072779,1.000000,0.689607,2.0,NaN
3,3,여의동,0.614035,0.071520,0.925674,1.000000,2.0,NaN
4,4,둔촌제1동,0.421500,0.000000,0.708442,0.000000,2.0,NaN

#### 3개 군집 결과를 묶은 후 읍면동명으로 count하여 중복 선정(교집합)된 곳이 시범사업지 후보 대상

In [17]:
tmp11=DataFrame(tmp10['읍면동명'].value_counts())
tmp11.to_excel('./교집합결과/여가생활,사회적약자 보팅결과.xlsx')
tmp10['읍면동명'].value_counts().head(10)

읍면동명
상암동      3
여의동      3
둔촌제1동    3
평창동      3
반포본동     2
상계제1동    2
역삼제1동    2
신사동      2
양재제1동    2
가양제1동    2
Name: count, dtype: int64

### 여가생활지수,접근성지수 대상 최적의 군집 결과(양의지수) 교집합

In [18]:
kmeans5=read_excel('./교집합결과/여가생활,접근성지수voting1.xlsx')
dbscan5=read_excel('./교집합결과/여가생활,접근성지수voting2.xlsx')
hery5=read_excel('./교집합결과/여가생활,접근성지수voting3.xlsx')

#### concat 메서드 활용하여 데이터프레임끼리 묶어줌

In [19]:
tmp12=concat([kmeans5,dbscan5],ignore_index=True)
tmp12.head()

,Unnamed: 0,읍면동명,그린지수minmax,여가생활지수minmax,사회적약자_지원_인프라_밀집도minmax,접근성지수minmax,cluster_id
0,0,종로1.2.3.4가동,0.063833,0.201658,0.451458,0.889024,1
1,1,상암동,0.726448,0.072779,1.000000,0.689607,1
2,2,여의동,0.614035,0.071520,0.925674,1.000000,1
3,3,평창동,0.602861,0.107249,0.658702,0.560716,4
4,4,소공동,0.009355,0.070369,0.245428,0.346411,4

In [20]:
tmp13=concat([tmp12,hery5],ignore_index=True)
tmp13.head()

,Unnamed: 0,읍면동명,그린지수minmax,여가생활지수minmax,사회적약자_지원_인프라_밀집도minmax,접근성지수minmax,cluster_id,labels
0,0,종로1.2.3.4가동,0.063833,0.201658,0.451458,0.889024,1.0,NaN
1,1,상암동,0.726448,0.072779,1.000000,0.689607,1.0,NaN
2,2,여의동,0.614035,0.071520,0.925674,1.000000,1.0,NaN
3,3,평창동,0.602861,0.107249,0.658702,0.560716,4.0,NaN
4,4,소공동,0.009355,0.070369,0.245428,0.346411,4.0,NaN

#### 3개 군집 결과를 묶은 후 읍면동명으로 count하여 중복 선정(교집합)된 곳이 시범사업지 후보 대상

In [21]:
tmp14=DataFrame(tmp13['읍면동명'].value_counts())
tmp14.to_excel('./교집합결과/여가생활,접근성지수 보팅결과.xlsx')
tmp13['읍면동명'].value_counts().head(10)

읍면동명
종로1.2.3.4가동    3
여의동            3
가양제1동          2
반포본동           2
상암동            2
가산동            2
양재제1동          2
한강로동           2
명동             2
소공동            2
Name: count, dtype: int64

### 사회적약자,접근성지수 대상 최적의 군집 결과(양의지수) 교집합

>  해당 군집의 경우 극단적 쏠림 현상 발생. 여기서는 사회적 약자지수를 우선순위로 선정하였음

In [22]:
kmeans6=read_excel('./교집합결과/사회적약자,접근성지수voting1.xlsx')
dbscan6=read_excel('./교집합결과/사회적약자,접근성지수voting2.xlsx')
hery6=read_excel('./교집합결과/사회적약자,접근성지수voting3.xlsx')

#### concat 메서드 활용하여 데이터프레임끼리 묶어줌

In [23]:
tmp15=concat([kmeans6,dbscan6],ignore_index=True)
tmp15.head()

,Unnamed: 0,읍면동명,그린지수minmax,여가생활지수minmax,사회적약자_지원_인프라_밀집도minmax,접근성지수minmax,cluster_id
0,0,평창동,0.602861,0.107249,0.658702,0.560716,1
1,1,종로1.2.3.4가동,0.063833,0.201658,0.451458,0.889024,1
2,2,상암동,0.726448,0.072779,1.000000,0.689607,1
3,3,여의동,0.614035,0.071520,0.925674,1.000000,1
4,4,반포본동,0.603899,1.000000,0.992845,0.273210,3

In [24]:
tmp16=concat([tmp15,hery6],ignore_index=True)
tmp16.head()

,Unnamed: 0,읍면동명,그린지수minmax,여가생활지수minmax,사회적약자_지원_인프라_밀집도minmax,접근성지수minmax,cluster_id,labels
0,0,평창동,0.602861,0.107249,0.658702,0.560716,1.0,NaN
1,1,종로1.2.3.4가동,0.063833,0.201658,0.451458,0.889024,1.0,NaN
2,2,상암동,0.726448,0.072779,1.000000,0.689607,1.0,NaN
3,3,여의동,0.614035,0.071520,0.925674,1.000000,1.0,NaN
4,4,반포본동,0.603899,1.000000,0.992845,0.273210,3.0,NaN

#### 3개 군집 결과를 묶은 후 읍면동명으로 count하여 중복 선정(교집합)된 곳이 시범사업지 후보 대상

In [25]:
tmp17=DataFrame(tmp16['읍면동명'].value_counts())
tmp17.to_excel('./교집합결과/사회적약자,접근성지수 보팅결과.xlsx')
tmp16['읍면동명'].value_counts().head(10)

읍면동명
평창동            3
상암동            3
여의동            3
종로1.2.3.4가동    3
둔촌제1동          2
가양제1동          2
반포본동           2
세곡동            1
역삼제1동          1
삼성제1동          1
Name: count, dtype: int64